*build/

objectCreation-W01/.~lock.331.01.Lab.docx#
objectCreation-W01/331.01.Lab.docx
objectCreation-W01/331.Skeet/Skeet.filters
objectCreation-W01/331.Skeet/Skeet.user
objectCreation-W01/331.Skeet/packages.config

*.sln
*.zip

# docs
*/*.pdf
*/*.docx#
*/*.docx
*/*.drawio

*.filters
*/*.user
*.vcxproj*
